<!DOCTYPE html>
<html>
  <head>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <p>
      Need to use a caesar cipher? You're in the right spot.
    </p>
    <form>
      <p>Message:</p>
      <textarea id='message' type='text' name='message'></textarea>
      <p>Shift by:</p>
      <input id='shift' type='text' name='shift' />
      <br>
      <input id='submit' type='submit' value='Translate!' />
    </form>
    <% unless translated_message.nil? %>
      <p> Translated Message:</p>
      <p id="translated_message"><%= translated_message %></p>
    <% end %>
  </body>
</html>
