body {
  text-align: center;
  background-color: #b025b2;
}
p {
  color: white
}
#message {
  padding-top: 0em;
  padding-left: 0em;
  height: 250px;
  width: 500px
}
#translated_message {
  width: 600px;
  text-align: center;
  margin: auto
}
#submit {
  margin: 25px 0 10px 0;
  border-radius: 3px;
  background-color: yellow;
  border-width: 4px;
  border-color: #0e4fb7;
}
#shift {
  width: 50px;
}
